
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap');

html{
    scroll-behavior: smooth; /* se posiciona en la seccion de forma "smooth"*/
}
/* grid */
.contenido .form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 1.5em;
}
.nav{
    grid-area:nav;
}
.contenido{
    grid-area:contenido;
}
.input_submit{
    justify-self: center;
}
.span-2{
    grid-column: span 2;
}
.span-4{
    grid-column: span 4;
}
/* grid */
.contenedor .content-pacientes{
    justify-self: center;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    padding:20px;
    display: grid;
}
.content .contenido{
    justify-self: center;
    margin-top: 10px;
}

.boton{
    height:35px;
    line-height: 35px;
    width:80%;
    color: #F4F4F2;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: .1s ease all;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.default-color{
    background: #495464;
}
.azul{
    background: #0d85ca;
}
.amarillo{
    background: #dd9000;
}
.izquierda{
    float:left;
    margin-right: 10px;
}
.derecha{
    float:right;
    margin-left: 10px;
}

