/* grid */
.contenedor .content{
    display: grid;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "content-informacion nav"
                "content-informacion contenido";
}
.contenedor-no .content{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "nav"
                         "contenido"                       
    }


/* grid */

/* degradados */

/* .content-informacion{
    padding:15px 10px;
} */
.content-informacion .icono.izquierda{
    float:left;
    margin-right: 10px;
}

.contenedor-no .content .content-informacion{
    display: none;
}
.icono-paciente{
    font-size:60px;
    color:white;
    /* background: #BBBFCA; */
    padding:1px;
}

/* degradados */

.form_input_small{
    width:50%;
   }
.form-sexo{
    /* height:20px; */
    display:flex;
    align-items: baseline;
    justify-content:space-around;
    width: 50%;
   }
   .form-sexo div{
    display:flex;
    align-items:center;
   }
   .form-sexo div label{
    margin-right: 5px;
   }







