*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/* grid */
.content-general{
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-gap:20px;
    justify-self: center;
}
/* grid */
.contenedor, .contenedor-no  {
    font-size: 16px;
    color: #495464;
    background: #E8E8E8;
}
.contenedor .contenido, .content-pacientes, .content-general, .contenedor-no .contenido{
    width:90%;
    max-width: 1400px;
}
.nav, .contenido{
    background: #fdfdfc;
}
.contenedor .content-general{
    margin-top: 10px;
    background: rgb(255, 255, 255);
    display: grid;
    padding:50px;
}
.table{
    justify-self: center;
    align-self: start;
    width:100%;
    border-collapse:collapse;
    /* margin:25px 0; */
    font-size: 0.7em;
    /* min-width:400px; */
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.table thead tr{
    background-color:#ECB365;
    color:#ffffff;
    text-align: left;
}
.table th, .table td{
    padding: 10px 15px;
}
.table tbody tr{ /*Subrayado al final de cada ROW*/
    border-bottom: 1px solid #E8E8E8;
}
.table tbody tr:nth-of-type(even){ /*color diferente en cada ROW*/
    background-color: #F4F4F2;
}
.table tbody tr:last-of-type{ /*Subrayado al final de la tabla*/
    border-bottom: 2px solid #ECB365;
}

.footer{
    background: #BBBFCA;
    color: #495464;
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo img{
    height:40px;
}
.form_input{
    width:100%;
    background: #E8E8E8;
    border:3px solid transparent;
    border-radius:3px ;
    height: 40px;
    line-height: 40px;
    padding: 0 2px 0 10px;
    transition: .3s ease all;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.form_input:focus{
    box-shadow: 3px 0px 10px rgba(163, 163, 163, 0.4)
}
.form_textarea{
    width:100%;
    background: #E8E8E8;
    border:3px solid transparent;
    border-radius:3px ;
    line-height: 20px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
.form, .form-general{
    padding:20px; /* padding del formulario de informacion */
}
.form_label{
    display: block;
    padding-bottom:5px;
    padding-top:15px;
    padding-left: 10px;
    cursor:pointer;
    font-size: 13px;
}
.form_input_small{
 width:50%;
}

.boton{
    height:35px;
    line-height: 35px;
    width:80%;
    color: #F4F4F2;
    border: none;
    font-weight: 500;
    cursor: pointer;
    transition: .1s ease all;
    border-radius: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 40px;
}
.default-color{
    background: #495464;
}
.azul{
    background: #0d85ca;
}
.amarillo{
    background: #dd9000;
}
.span-2{
    grid-column: span 2;
}
.span-4{
    grid-column: span 4;
}

