.imagen-sexo{
    width:70px;
}
.nombre-content-informacion{
    font-size:18px;
    height:60px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1; 
}
