.content-reportes{
    margin-top: 10px;
    background: rgb(245, 245, 245);
    display: grid;
    padding:50px;
    display: grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1rem 1fr 1fr;
    grid-gap:10px;
    justify-self: center;
    width:100%;
    height:100%;
    max-width: 1400px;
}

.reportes-consultas{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: .2em;
    width:100%;
}
.reportes-medicamentos{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: .2em;
    width:100%;
}
.reportes-enfermedades{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: .2em;
    width:100%;
}
.reportes-terapias{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    border-radius: .2em;
    width:100%;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_input-reportes{
    width:70%;
    background: #ffffff;
    border:3px solid transparent;
    border-radius:3px ;
    height: 32px;
    line-height: 30px;
    padding: 0 2px 0 10px;
    transition: .3s ease all;
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
    box-shadow: .5px .5px .5px rgba(0, 0, 0, 0.3);
}
.icono-reportes{
    font-size:20px;
    justify-self: end;
    padding:.5em;
}
.grid-reportes{
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.chart-consultas{
    padding:3%;
}



