.imprimir{
    display:none;
    width:13em;
}
.imprimir i{
    padding:10px;
    cursor:pointer;
}
.centrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    cursor:pointer;
}
.boton-derecha{
    display:flex;
    align-items: end;
    justify-content: end;
}
