
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300&display=swap');

html{
    scroll-behavior: smooth; /* se posiciona en la seccion de forma "smooth"*/
}
/* grid */
.contenido .form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-gap: 1.5em;
}
.nav{
    grid-area:nav;
}
.contenido{
    grid-area:contenido;
}
.input_submit{
    justify-self: center;
}

.content-pacientes{
    display: grid;
    grid-auto-rows: minmax(min-content, max-content);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px;
}
/* grid */
.contenedor .content-pacientes, .contenedor-no .content-pacientes{
    justify-self: center;
    margin-top: 10px;
    background: rgb(255, 255, 255);
    padding: 20px;
}
.content .contenido{
    justify-self: center;
    margin-top: 10px;
}
.izquierda{
    float:left;
    margin-right: 10px;
}
.derecha{
    float:right;
    margin-left: 10px;
}

/*MODAL MODAL MODAL PREGUNTA*/
/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;
}

.modal-contenido {
    background-color:#F4F4F2;  /* #83bc8a;*/
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    height:30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* position: relative; */
    color:#495464; /*#3b486e; #254e38 */
}
.cerrar-modal {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
}
/*MODAL MODAL MODAL*/
/*MODAL MODAL MODAL EXITO*/
/* Estilos para el modal */
.modal-contenido-exito {
    background-color:#86bada;  /* #83bc8a;*/
}
/*MODAL MODAL MODAL*/
/*MODAL MODAL MODAL ERROR*/
/* Estilos para el modal */
.modal-contenido-error {
    background-color: #c14228;  /* #83bc8a;*/
    color:#510202; /*#3b486e; #254e38 */
}
/*MODAL MODAL MODAL*/

.modal-contenido{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr
}
/* ACOMODO DEL MODAL*/
.modal-mensaje{
    justify-self: center;
    align-self: center;
    grid-column-start:1;
    grid-column-end:3;
}
.modal-mensaje h2 {
    margin-bottom: 10px; 
}
.modal-boton{
    justify-self: center;
    align-self: center;
}
.modal-boton-dos-espacios{
    grid-column-start:1;
    grid-column-end:3;
}
