@media screen and (max-width: 600px){ /* cuando la pantalla sea menor que 600 px*/
    .contenido .form{
        grid-gap: .8em;
        grid-template-columns: 1fr;  
    }
    .span-2{
        grid-column: span 1;
    }
    .span-4{
        grid-column: span 1;
    }
    .contenedor .content-general, .contenedor .content-pacientes, .contenedor-no .content-general, .contenedor-no .content-pacientes, .content-index, .content-reportes{
        display:grid;
        grid-template-columns: 1fr;
    }
    .column-to-hide{
        display:none;
    }
    .modal-contenido {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:1fr 1fr 1fr;
        width: 40%;
    }
    .modal-mensaje{
        justify-self: center;
        align-self: center;
        grid-column-start:1;
        grid-column-end:2;
    }
}
 /* cuando la pantalla sea menor que 820 px*/
 @media screen and (max-width: 820px){
    .content .content-informacion{
        display: none;
    }
    .contenedor .content{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: "nav"
                             "contenido"  ;                   
        }
    .boton{
        width: 100px;
    }
    .logo{
        display:none;
    } 
    .navI{
        margin:0px;
    }
    .boton-menu{
        display: block;
    }
    .navI .menu{
        display: none;
    }
}
@media screen and (max-width: 1020px){ /* cuando la pantalla sea menor que 1020 px*/

    .contenedor, .contenedor-no{ /* Master Grid */
        min-height: 100vh; /* Permite utilizar toda la pantalla, footer */
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows:  minmax(min-content, max-content) 1fr 30px;
        grid-template-areas: "navI"
                             "content"
                             "footer"       
    }

    /*Grid */
    .logo{
        display:none;
    } 
    .navI{
        margin:0px;
    }
    .boton-menu{
        display: block;
    }
    .navI .menu{
        display: none;
    }

    .contenedor .content-general, .contenedor-no .content-general{
        padding:20px;
    }
    .modal-contenido {
        width: 40%;
    }

    /* .contenedor .contenido, .content-pacientes, .content-general, .content-index, .contenedor-no .contenido{
        width:99%;
    } */
} /* End media querie*/

@media screen and (min-width: 1700px){ /* cuando la pantalla sea mayor que 1700 px*/
.form, .contenedor .content-pacientes, .contenedor-no .content-pacientes{
    padding:50px; /* padding del formulario de informacion */
}
.modal-contenido {
    width: 20%;
    height:20%;
}
.contenedor .content{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 50px 1fr;
    grid-template-areas: "content-informacion nav"
                "content-informacion contenido";
}
.contenedor {
    /* Master Grid */
    min-height: 100vh;
    /* Permite utilizar toda la pantalla, footer */
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 1fr 30px;
    grid-template-areas:
        "navI  content"
        "footer footer";
    /*align-items:start; Alinea verticalmente solo el espacio requerido*/
}

}

